:host {
    height: inherit;
    margin: 0 -0.75rem;
    display: block;
}

.listContainer {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-rows: auto 1fr;

    table {
        width: 100%;
    }
    
    .rowHeader {
        display: flex;
        padding-bottom: 1rem;
        padding-top: 1rem;
        p {
            white-space: pre-wrap;
        }
    }

    .rowBody {
        display: grid;
        grid-template-rows: auto 1fr;
    }
}

// ::ng-deep pep-list {
//     .table-header{
//         top: 0 !important;
//     }
// }
::ng-deep pep-top-bar {
    .content{
        min-height: 2.75rem;
    }
}