<div id="edit-dialog" class="dialog">
    <pep-dialog [title]="'AddonManager_Add_Permission' | translate">
        <ng-container pep-dialog-content>
            <pep-select [key]="'AddonSelect'"
                [label]="'AddonManager_SelectAnAddon' | translate"
                [options]="installedAddons"
                [emptyOption]="false"
                (valueChange)="onValueChanged($event);"
            ></pep-select>
            <pep-select
            [label]="'AddonManager_SelectAnEditor' | translate"
                [options]="addonEditors"
                [key]="'EditorSelect'"
                [emptyOption]="false"
                (valueChange)="onValueChanged($event);"
            ></pep-select>
        </ng-container>
        <ng-container pep-dialog-actions class="pepperi-border-top">
            <pep-button [value]="'Confirm' | translate" [disabled]="!(selectedAddon && selectedEditor)" [mat-dialog-close]="outputData"></pep-button>
        </ng-container>
    </pep-dialog>
</div>

