:host {
    // margin: 0 -1rem;
    display: block;
}

#maintenanceCont {
    max-width: 20rem;
    margin: 1rem 0 0 0;
    display: grid;

    pep-button{
        margin-top: 1.5rem;
        display: block;
    }

    .upgradeAllcont {
        height: auto;
        cursor: default;
        line-height: unset;                                
        padding: 0.25rem 0.5rem;
        text-align: start;
        margin-bottom: 0.25rem;        
    }
}