<div class="right-container pull-right flip">
    <pep-menu iconName="system_menu"  type="action" styleType="weak"
    sizeType="md" classNames="" [items]="globalMenu" [disabled]="false" (menuItemClick)="menuItemClick($event)" ></pep-menu>
</div>
<div id="maintenanceCont">        
     <!--div class="pep-button md regular caution upgradeAllcont">Run upgrade all from the menu before selecting a date</div-->                                                
    <div class="pep-button md regular caution upgradeAllcont" *ngIf="upgradeAllmsg !== ''" title="{{upgradeAllmsg}}">{{upgradeAllmsg}}</div>                                                
    <pep-date [key]="'MaintenanceDate'" 
            [label]="maintenanceDatemsg" 
            [value]="maintenance?.AutomaticUpgradeAfter" 
            [minDateValue]="maintenance?.MaintenanceMinDate" 
            [maxDateValue]="maintenance?.MaintenanceMaxDate"
            [xAlignment]="'left'" 
            (valueChange)="onMaintenanceValueChanged($event)" >
    </pep-date>          
    <pep-select *ngIf= "isSupportUser" [key]="'percentage'"
                [showTitle]="true" 
                [label]="'AddonsManager_Maintenance_precents' | translate" 
                [emptyOption]="false" 
                [value]="maintenance?.AutomaticUpgradeAfterPercentage"
                [options]="percentageOptions" 
                (valueChange)="onMaintenanceValueChanged($event)">
    </pep-select>

    <pep-select [key]="'MaintenanceHour'"
                [showTitle]="true" 
                [label]="'AddonsManager_Maintenance_Houer' | translate" 
                [disabled]="false" 
                [emptyOption]="false" 
                [value]="maintenance?.MaintenanceWindow"
                [options]="timeOptions" 
                (valueChange)="onMaintenanceValueChanged($event)">
    </pep-select>

    <pep-button [value]="'AddonsManager_Maintenance_Publish' | translate" 
                [sizeType]="'sm'" [styleType]="'strong'" 
                [classNames]="'pull-left flip'"
                (buttonClick)="publishMaintenanceData()">
    </pep-button> 
</div>