
<div class="change-version-dialog dialog">
    <pep-dialog [title]="'AddonsManager_ChangeVersion_Header' | translate" [showClose]="true" (close)="onDialogClose()">
        <ng-container pep-dialog-content>
            <div style="padding: 0 .5rem;">
                <p>{{'Current Version: ' + currentVersion}}</p>
                <p>{{'AddonsManager_ChangeVersion_Body' | translate}}</p>
                <pep-select [emptyOption]="false" [options]="options" [autoSortOptions]="false" (valueChange)="outputData.version = $event"></pep-select>
            </div>
        </ng-container>
        <ng-container pep-dialog-actions class="pepperi-border-top">
            <pep-button [value]="'Confirm' | translate" [mat-dialog-close]="outputData"></pep-button>
        </ng-container>
    </pep-dialog>
</div>
