@import 'ngx-lib/src/core/style/abstracts/mixins';
@import 'ngx-lib/src/core/style/abstracts/variables';

.main-content{
    .content{
        margin-top: 0;
    }
}

.tabs {
    height: inherit;

    ::ng-deep .mat-tab-body-wrapper {
        height: inherit;
    }
}

